<h2>{{name}}</h2>
<ul>
    <li>{{capital}}</li>
    <li>{{population}}</li>
    <li>Language
        <ul>
        {{#each languages}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </li>
</ul>
<div class="wrapper">
    <img src="{{flag}}" alt="Flag of {{name}}">
</div>